<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/dark.css" rel="stylesheet" />
    <link href="~/css/font-icons.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/dark.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>About Us | Canvas</title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
    ============================================= -->
        @await Html.PartialAsync("MenuPartial")<!-- #header end -->
        <!-- Page Title
    ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1>Blog</h1>
                <span>Our Latest News in Masonry Layout</span>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blog</li>
                </ol>
            </div>

        </section><!-- #page-title end -->
        <!-- Content
    ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">

                    <!-- Posts
                ============================================= -->
                    <div id="posts" class="post-grid row grid-container gutter-40">

                        <div class="entry col-md-4 col-sm-6 col-12">
                            <div class="grid-inner">
                                <div class="entry-image">
                                    <a href="https://vintagebillboard.com/wp-content/uploads/2020/01/blog-icerik-uzunlugu.jpg" data-lightbox="image"><img src="https://vintagebillboard.com/wp-content/uploads/2020/01/blog-icerik-uzunlugu.jpg" alt="Standard Post with Image"></a>
                                </div>
                                <div class="entry-title">
                                    <h2><a href="blog-single.html">This is a Standard post with a Preview Image</a></h2>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="icon-calendar3"></i> 10th Feb 2021</li>
                                        <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                                        <li><a href="#"><i class="icon-camera-retro"></i></a></li>
                                    </ul>
                                </div>
                                <div class="entry-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod est tenetur in. Eligendi, deserunt, blanditiis est quisquam doloribus.</p>
                                    <a href="blog-single.html" class="more-link">Read More</a>
                                </div>
                            </div>
                        </div>


                    </div><!-- #posts end -->

                </div>
            </div>
        </section><!-- #content end -->
        <!-- Footer
    ============================================= -->
        @await Html.PartialAsync("FooterPartial")<!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->

    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>


</body>
</html>
@RenderBody()